.diets {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.2);
    padding: 20px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
  }
  
  .pesquisar {
    display: flex;
    align-items: center;  
  }

  .pesquisar input {
    height: 42px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #5c6bc0;
    margin-right: 5px;
    box-shadow: 7px 10px 18px -7px rgba(0,0,0,0.75);
  }
  
  .pesquisar button {
    width: 35%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #5c6bc0;
    color: white;
    cursor: pointer;
    box-shadow: 7px 10px 18px -7px rgba(0,0,0,0.75);
  }
  
  .lista-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    margin-top: 16px;
  }
  