
/* [M1S05] Ex. 4 - Checkbox e Lixeira (to-do list project) */
/* [M1S06] Ex. 1 - Posicionando os elementos (to-do list project) */
/* [M1S06] Ex. 2 - Estilizando a lista (to-do list project) */
/* [M1S06] Ex. 3 - Estilizando demais elementos (to-do list project) */

html { 
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,27,42,1) 52%, rgba(119,141,169,1) 100%);
font-family: "Protest Revolution", sans-serif;
}

.lista h2 {
    color: red;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #e0e1dd;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

.contador {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    color: red;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.input-afazer-div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 3.5rem;
    padding: 15px;
}

.input-afazer-div input{
    background: #e0e1dd;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: solid;
    border-color: #1B263B;
    border-left: 1px solid #e0e1dd;
    border-top: 1px solid #e0e1dd;
    border-radius: 5000px;
    margin-right: 1.5em;
}

.input-afazer-div button {
    margin-top: 10px;
      font-size: 1rem;
      background: #0a9c05;
    width: 100px;
    padding: 1em;
    margin-bottom: 2em;
    border: solid;
    border-color: #1B263B;
    border-left: 1px solid #e0e1dd;
    border-top: 1px solid #e0e1dd;
    border-radius: 5000px;
    color: #e0e1dd;
    font-family: "Protest Revolution", sans-serif;
}

.input-afazer-div button:hover {
    margin-top: 10px;
      font-size: 1rem;
      background: #778DA9;
    width: 100px;
    padding: 1em;
    margin-bottom: 2em;
    border: solid;
    border-color: #1B263B;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    font-family: "Protest Revolution", sans-serif;
}

.input-afazer-div button:active {
    margin-top: 10px;
      font-size: 1rem;
      background: transparent;
    width: 90px;
    padding: 1em;
    margin-bottom: 2em;
    border: solid;
    border-color: #1B263B;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    font-family: "Protest Revolution", sans-serif;
}


.to-do-list {
    display: flex;
    flex-direction: column;
    width: 30rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 3em;
    background-color: rgba(119,141,169,0.2);
    border-radius: 30px;
}

.itemList{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: NONE;
    color: #e0e1dd;
    cursor: pointer;
    position: relative;
    padding: 1rem;
}

.itemListConcluído {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: NONE;
    color: #0a9c05;
    cursor: pointer;
    position: relative;
    padding: 1rem;
    text-decoration: line-through;
}

.remover-item-lista {
    background-color: transparent;
    border: none;
    font-size: 0.5em;
}

.remover-item-lista:hover {
    background-color: transparent;
    border: none;
    font-size: 0.6em;
}

.remover-item-lista:active {
    background-color: transparent;
    border: none;
    font-size: 0.3em;
}

.checkbox {
    transform: scale(3);
    accent-color: #0a9c05;
}

label {
    margin-left: 1em;
    margin-right:1em;
    font-size: 80%;
}



