#sidebar {
    background-color: #000080;
    margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.botao-sidebar {
    display: block;
    color: white;
    font-size: 20px;
    padding: 16px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    width: 100%;
  }
  
  .botao-sidebar:hover {
    background-color: rgba(8, 180, 180, 0.692);
    border-radius: 4px;

  }