
#sidebar {
  background-color: #000080;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  overflow: auto;
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
}

.botao-sidebar {
  color: white;
  font-size: 16px; 
  padding: 8px 16px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  white-space: nowrap;
}

.botao-sidebar:hover {
  background-color: rgba(8, 180, 180, 0.692);
  border-radius: 4px;
  cursor: pointer;
}


@media (max-width: 480px) {
  #sidebar {
    flex-direction: row;
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  #sidebar {
    width: 150px;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  #sidebar {
    width: 180px;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
}


@media (min-width: 1025px) {
  #sidebar {
    width: 200px;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
}
