<app-sidebar></app-sidebar>

<div id="dadosUsuario">
    <p>Nome: {{ usuarioObject.nome }}</p>
    <p>Email: {{ usuarioObject.email }}</p>
    <p>Código Usuário: {{ usuarioObject.codigoUsuario }} </p>
    <p>Idade: {{ usuarioObject.nascimento |age }} anos</p>
    <p>Peso: {{ usuarioObject.peso }} KG</p>
    <p>Altura: {{ usuarioObject.altura | converteMedida }}</p>
    <p>Seu endereço:</p>
    <input type="text" [(ngModel)]="cep" placeholder="Insisa seu Cep">
<button (click)="pesquisar()">Pesquisar</button>

<div *ngIf="address">
  {{ address.logradouro }}, {{ address.complemento }} - {{ address.bairro }}
  {{ address.localidade }}/{{ address.uf }}
</div>

            
</div>

<!-- nome, email, peso, altura, código do usuário, idade e localização -->
